:root {
    --m3-schemes-primary-container: rgba(234, 221, 255, 1);
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-m3-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-m3-mode="light"] {
    --m3-schemes-primary-container: rgba(234, 221, 255, 1);
  }
  
  [data-m3-mode="light-high-contrast"] {
    --m3-schemes-primary-container: rgba(73, 57, 113, 1);
  }
  
  [data-m3-mode="light-medium-contrast"] {
    --m3-schemes-primary-container: rgba(123, 107, 167, 1);
  }
  
  [data-m3-mode="dark"] {
    --m3-schemes-primary-container: rgba(79, 55, 139, 1);
  }
  
  [data-m3-mode="dark-high-contrast"] {
    --m3-schemes-primary-container: rgba(211, 193, 255, 1);
  }
  
  [data-m3-mode="dark-medium-contrast"] {
    --m3-schemes-primary-container: rgba(152, 135, 197, 1);
  }
  
  [data-m3-mode="monochrome-LT"] {
    --m3-schemes-primary-container: rgba(59, 59, 59, 1);
  }
  
  [data-m3-mode="monochrome-DT"] {
    --m3-schemes-primary-container: rgba(212, 212, 212, 1);
  }
  
  [data-m3-mode="pink-LT"] {
    --m3-schemes-primary-container: rgba(254, 176, 209, 1);
  }
  
  [data-m3-mode="pink-DT"] {
    --m3-schemes-primary-container: rgba(109, 51, 80, 1);
  }
  
  [data-m3-mode="rose-LT"] {
    --m3-schemes-primary-container: rgba(253, 166, 179, 1);
  }
  
  [data-m3-mode="rose-DT"] {
    --m3-schemes-primary-container: rgba(114, 51, 63, 1);
  }
  
  [data-m3-mode="red-LT"] {
    --m3-schemes-primary-container: rgba(253, 164, 153, 1);
  }
  
  [data-m3-mode="red-DT"] {
    --m3-schemes-primary-container: rgba(115, 52, 44, 1);
  }
  
  [data-m3-mode="orange-LT"] {
    --m3-schemes-primary-container: rgba(255, 174, 127, 1);
  }
  
  [data-m3-mode="orange-DT"] {
    --m3-schemes-primary-container: rgba(111, 56, 18, 1);
  }
  
  [data-m3-mode="yellow-LT"] {
    --m3-schemes-primary-container: rgba(255, 213, 125, 1);
  }
  
  [data-m3-mode="yellow-DT"] {
    --m3-schemes-primary-container: rgba(109, 80, 0, 1);
  }
  
  [data-m3-mode="chartreuse-LT"] {
    --m3-schemes-primary-container: rgba(221, 230, 146, 1);
  }
  
  [data-m3-mode="chartreuse-DT"] {
    --m3-schemes-primary-container: rgba(67, 75, 6, 1);
  }
  
  [data-m3-mode="green-LT"] {
    --m3-schemes-primary-container: rgba(183, 241, 185, 1);
  }
  
  [data-m3-mode="green-DT"] {
    --m3-schemes-primary-container: rgba(29, 81, 40, 1);
  }
  
  [data-m3-mode="teal-LT"] {
    --m3-schemes-primary-container: rgba(158, 242, 227, 1);
  }
  
  [data-m3-mode="teal-DT"] {
    --m3-schemes-primary-container: rgba(0, 107, 95, 1);
  }
  
  [data-m3-mode="cyan-LT"] {
    --m3-schemes-primary-container: rgba(154, 229, 253, 1);
  }
  
  [data-m3-mode="cyan-DT"] {
    --m3-schemes-primary-container: rgba(0, 103, 124, 1);
  }
  
  [data-m3-mode="blue-LT"] {
    --m3-schemes-primary-container: rgba(173, 195, 254, 1);
  }
  
  [data-m3-mode="blue-DT"] {
    --m3-schemes-primary-container: rgba(46, 69, 120, 1);
  }
  
  [data-m3-mode="indigo-LT"] {
    --m3-schemes-primary-container: rgba(193, 189, 254, 1);
  }
  
  [data-m3-mode="indigo-DT"] {
    --m3-schemes-primary-container: rgba(68, 64, 120, 1);
  }
  
  [data-m3-mode="purple-LT"] {
    --m3-schemes-primary-container: rgba(217, 189, 254, 1);
  }
  
  [data-m3-mode="purple-DT"] {
    --m3-schemes-primary-container: rgba(82, 60, 115, 1);
  }
  